/* src/App.css */
body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

.homepage {
  background-image: url('./assets/gettyimages-1151151755-612x612.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh; /* Προσαρμόστε το ύψος όπως χρειάζεται */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  flex: 1;
  margin-top: 20px; /* Ρυθμίστε το για να επικαλύπτει σωστά το περιεχόμενο */
}

.event-section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px; /* Προσθέστε αυτό για να δημιουργήσετε κενό μεταξύ του τελευταίου div και του footer */
}

.past-event {
  opacity: 0.6;
  filter: grayscale(100%);
}

.active-event {
  opacity: 1;
}

.reviews {
  margin-top: 20px;
}

.review-card {
  margin-bottom: 10px;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Προσθέστε αυτό για να διασφαλίσετε ότι το footer είναι πάντα στο κάτω μέρος */
}

.card-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.button-margin {
  margin-right: 10px; /* Προσθέστε περιθώριο δεξιά για απόσταση μεταξύ των κουμπιών */
}

button.btn-warning {
  background-color: orange;
  border-color: orange;
}
