/* src/App.css */
body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

.homepage {
  background-image: url('./assets/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center;
  height: 85vh; 
  color: rgb(196, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  flex: 1;
  margin-top: 20px;
}

.event-section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.past-event {
  opacity: 0.6;
  filter: grayscale(100%);
}

.active-event {
  opacity: 1;
}

.reviews {
  margin-top: 20px;
}

.review-card {
  margin-bottom: 10px;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.card-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

button.btn-warning {
  background-color: orange;
  border-color: orange;
}
